<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @director.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @director.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @director.country %>
</p>

<p>
  <strong>Type:</strong>
  <%= @director.type %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
