<!DOCTYPE html>
<html>
  <head>
    <title>MyMovies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <ul class="menu">
        <li>
          <h1 class="app-title">
            <%= link_to("MyMovies", "/") %>
          </h1>
        </li>
        <li class="menu-item"><%= link_to("Movies", "/movies") %></li>
        <li class="menu-item"><%= link_to("Actors", "/actors") %></li>
        <li class="menu-item"><%= link_to("Directors", "/directors") %></li>
        <% if user_signed_in? %>
          <li class="menu-item sign-out">
            <%= link_to("Sign Out", "/users/sign_out", method: :delete) %>
          </li>
        <% else %>
          <li class="menu-item sign-in">
            <%= link_to("Sign In", "/users/sign_in") %>
          </li>
          <li class="menu-item sign-up">
            <%= link_to("Sign Up", "/users/sign_up") %>
          </li>
        <% end %>
      </ul>

    </div>
    <div class="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
